{
    "extends": "airbnb",
    "plugins": ["babel"],
    "parser": "babel-eslint",
    "rules": {
      "indent": ["error", 4],
      "no-loop-func":"off",
      "class-methods-use-this":"off",
      "no-useless-return":"off"
    }
}
